.nav {
  height: 52px;
  width: 100%;
  background-color:#1d3557;
  position: fixed;
  z-index: 1000;
  text-align: center;
}

.nav>.nav-header {
  display: inline-block;
  padding: 10px;
}

#logo-navbar img {
  display: block;
  width: 40px;
}
